<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <% var backlink = `/`; %>
      <h1><%= title %>
          <a href=<%= backlink %>><button>Cancel</button></a> 
      </h1>

      <form method="post" action="/charactercreate">
        <label for="character_name" class="formlabel">Name<span style="color: red;">*</span></label>
        <input type="text" id="character_name" name="character_name" value="" required>


        <script>
          var bg_skills = new Array();
          var class_skills = new Array();
          var class_selected_skills = new Array();
          var race_skills = new Array();
          var skills = new Set();
          var class_checkboxes = new Array();
          var class_checkbox_total = 0;
          var class_num_skills = 0;

          calcSkills = function() {
            skills = new Set();
            for (ss of race_skills) {
              skills.add({
                "skill_name": ss, "origin":"Race"
              });
            }
            for (ss of class_selected_skills) {
              skills.add({
                "skill_name": ss, "origin":"Class"
              });
            }
            for (ss of bg_skills) {
              skills.add({
                "skill_name": ss, "origin":"Background"
              });
            }
            console.log("All skills:");
            console.log(skills);
            var skillunion = new Set();
            for (skill_row of skills) {
              skillunion.add(skill_row.skill_name);
            }
            document.getElementById("proficiencylist").innerHTML = Array.from(skillunion).toString();
            document.getElementById("all_skills").value = JSON.stringify(Array.from(skills));
          }

          bgSelected = function(element) {
            bg_skills = new Array();
            console.log("bgSelected");
            var bglist = <%-JSON.stringify(backgrounds)%>;
            var bghtml = `<p>${bglist.find(b => b.bg_name === element.value).description}</p>`;
            var bgskills = <%-JSON.stringify(bgskills)%>; // This is not an error. VSCode just doesn't like it.
            bgskills = bgskills.filter(bgskill => bgskill.bg_name === element.value);
            for (skill of bgskills) {
              bg_skills.push(skill.skill_name);
            }
            console.log(bg_skills);
            var bgprofs = bg_skills.toString();
            document.getElementById("proficiencylistbg").innerHTML = `Proficient in ${bgprofs}`;
            document.getElementById("bgdescription").innerHTML = bghtml;
            calcSkills();
          }

          classSelected = function(element) {
            class_skills = new Array();
            console.log("classSelected");
            var classlist = <%-JSON.stringify(classes)%>;
            var classhtml = `<p>${classlist.find(c => c.class_name === element.value).description}</p>`;
            var classskills = <%-JSON.stringify(classskills)%>; // This is not an error. VSCode just doesn't like it.
            var classes = <%-JSON.stringify(classes)%>; // This is not an error. VSCode just doesn't like it.
            var selectedclass = classes.find(c => c.class_name === element.value);
            classskills = classskills.filter(skill => skill.class_name === element.value);
            for (skill of classskills) {
              class_skills.push(skill.skill_name);
            }
            class_num_skills = selectedclass.num_skills;
            console.log(`Setting num_skills to: ${selectedclass.num_skills}`);
            console.log(` num_skills : ${class_num_skills}`);
            var checkboxes = '';
            class_checkboxes = new Array();
            class_checkbox_total = 0;
            for (skill of class_skills) {
              class_checkboxes.push(`class_skill[${skill}]`);
              checkboxes += `<div><input style="margin-bottom: 0px; width: auto; display: inline-block;" type="checkbox" name="class_skill[${skill}]" id="class_skill[${skill}]" onchange="skillCheckedClass(this)" value="${skill}"><label for="class_skill[${skill}]">${skill}</label></div>`;
            }
            document.getElementById("proficiencylistclass").innerHTML = `Proficiencies: choose ${class_num_skills} skills from the following</br>`;
            document.getElementById("proficiencyformclass").innerHTML = checkboxes;
            document.getElementById("classdescription").innerHTML = classhtml;
          }

          skillCheckedClass = function(element) {
            console.log("skillCheckedClass");
            if (element.checked && class_checkbox_total >= class_num_skills) {
              element.checked = false;
            } else if (element.checked && class_checkbox_total < class_num_skills) {
              class_checkbox_total++;
              class_selected_skills.push(element.value);
            } else {
              console.log("unchecked");
              class_checkbox_total--;
              const index = class_selected_skills.indexOf(element.value);
              if (index > -1) {
                class_selected_skills.splice(index, 1);
              }
            }
            console.log("cb total: " + class_checkbox_total);
            console.log(`Selected skills: ${class_selected_skills.toString()}`);
            calcSkills();
          }

          raceSelected = function(element) {
            console.log("raceSelected");

            // Display race info and select attribute increases
            var racehtml = '';
            // console.log(element);
            var racelist = <%-JSON.stringify(races)%>; // This is not an error. VSCode just doesn't like it.
            // console.log(racelist);
            racehtml += `<p>${racelist.find(r => r.race_name === element.value).description}</p>`;

            var racestats = <%-JSON.stringify(racestats)%>; // This is not an error. VSCode just doesn't like it.
            var racestats_vanilla = new Array();
            racestats = racestats.filter(rs => rs.race_name === element.value);
            // console.log(racestats);
            for (rs of racestats) {
              if (rs.stat === "AnyOther2") {
                var options = ["Strength", "Dexterity", "Constitution", "Intelligence", "Wisdom", "Charisma"];
                for (stat of racestats) {
                  if (options.includes(stat.stat)) {
                    var index = options.indexOf(stat.stat);
                    if (index !== -1) {
                      options.splice(index, 1);
                    }
                  }
                }
                var optionshtml = '';
                for (option of options) {
                  optionshtml += `<option value="${option}">${option}</option>`;
                }
                racehtml += `<div>Choose any 2 other stats <select required style="display:inline-block;" id="race_option_1" name="race_option_1">${optionshtml}</select>`;
                racehtml += `<select required style="display:inline-block;" id="race_option_2" name="race_option_2">${optionshtml}</select></div>`;
              } else {
                racehtml += `<p>${rs.stat} +${rs.amount}</p>`;
                racestats_vanilla.push(rs);
              }
            }
            var arraystring = JSON.stringify(racestats_vanilla);
            racehtml += `<input type="hidden" name="race_stats" value='${arraystring}'>`;
            document.getElementById("racedescription").innerHTML = racehtml;

            // Handle skill increases and select skill increases
            race_skills = new Array();
            var raceskills = <%-JSON.stringify(raceskills)%>;
            raceskills = raceskills.filter(raceskill => raceskill.race_name === element.value);
            for (skill of raceskills) {
              if (skill.skill_name != "Any2") {
                race_skills.push(skill.skill_name);
              }
            }
            console.log(race_skills);
            if (race_skills.length > 0) {
              var raceprofs = race_skills.toString();
              document.getElementById("proficiencylistrace").innerHTML = `Proficient in ${raceprofs}`;
            }
            calcSkills();
          }
        </script>
        

        <%
        var racesoptions = '';
        racesoptions += `<option disabled selected value> -- select an option -- </option>`;
        for (r of races) {
          racesoptions += `<option value="${r.race_name}">${r.race_name}</option>\n`;
        }
        %>
        <label for="race_name" class="formlabel">Race<span style="color: red;">*</span></label>
        <select required id="race_name" name="race_name" onchange="raceSelected(this)">
          <%- racesoptions %>
        </select>
        <div style="max-width: 800px;"><span id="racedescription"></span>
        <span id="proficiencylistrace"></span></div>

        <%
        var classoptions = '';
        classoptions += `<option disabled selected value> -- select an option -- </option>`;
        for (c of classes) {
          classoptions += `<option value="${c.class_name}">${c.class_name}</option>\n`;
        }
        %>
        <label for="class_name" class="formlabel">Class<span style="color: red;">*</span></label>
        <select required id="class_name" name="class_name" onchange="classSelected(this)">
          <%- classoptions %>
        </select>
        <div style="max-width: 800px;">
          <span id="classdescription"></span>
          <span id="proficiencylistclass"></span>
          <span id="proficiencyformclass"></span></div>

        <%
        var backgroundoptions = '';
        backgroundoptions += `<option disabled selected value> -- select an option -- </option>`;
        for (b of backgrounds) {
          backgroundoptions += `<option value="${b.bg_name}">${b.bg_name}</option>\n`;
        }
        %>
        <label for="bg_name" class="formlabel">Background<span style="color: red;">*</span></label>
        <select required id="bg_name" name="bg_name" onchange="bgSelected(this)">
          <%- backgroundoptions %>
        </select>
      <div style="max-width: 800px;"><span id="bgdescription"></span>
        <span id="proficiencylistbg"></span></div>

        <label for="alignment" class="formlabel">Alignment<span style="color: red;">*</span></label>
        <select required id="alignment" name="alignment">
          <option disabled selected value> -- select an option -- </option>
          <option value="Lawful good">Lawful, good</option>
          <option value="Lawful neutral">Lawful, neutral</option>
          <option value="Lawful evil">Lawful, evil</option>
          <option value="Neutral good">Neutral, good</option>
          <option value="Neutral">True neutral</option>
          <option value="Neutral evil">Neutral, evil</option>
          <option value="Chaotic good">Chaotic, good</option>
          <option value="Chaotic neutral">Chaotic, neutral</option>
          <option value="Chaotic evil">Chaotic, evil</option>
        </select>

        <label for="sex" class="formlabel">Sex<span style="color: red;">*</span></label>
        <select required id="sex" name="sex">
          <option disabled selected value> -- select an option -- </option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="None">None</option>
          <option value="Other">Other</option>
        </select>

        <label for="height" class="formlabel">Height (inches)</label>
        <input type="number" id="height" name="height">

        <label for="weight" class="formlabel">Weight (lbs)</label>
        <input type="number" id="weight" name="weight">

        <label for="eyes" class="formlabel">Eye Color</label>
        <select id="eyes" name="eyes">
          <option disabled selected value> -- select an option -- </option>
          <option value="Black">Black</option>
          <option value="Blue">Blue</option>
          <option value="Brown">Brown</option>
          <option value="Green">Green</option>
          <option value="Red">Red</option>
          <option value="Yellow">Yellow</option>
        </select>

        <label for="skin" class="formlabel">Skin Tone</label>
        <select id="skin" name="skin">
          <option disabled selected value> -- select an option -- </option>
          <option value="Light">Light</option>
          <option value="Brown">Brown</option>
          <option value="Black">Yellow</option>
          <option value="Blue">Blue</option>
          <option value="Green">Green</option>
          <option value="Red">Red</option>
          <option value="Yellow">Yellow</option>
        </select>

        <%
        var deityoptions = '';
        deityoptions += `<option disabled selected value> -- select an option -- </option>`;
        for (d of deities) {
          deityoptions += `<option value="${d.deity_id}">${d.deity_name} - ${d.title}</option>\n`;
        }
        %>
        <label for="deity_name" class="formlabel">Deity</label>
        <select id="deity_name" name="deity_id">
          <%- deityoptions %>
        </select>

        <label for="base_str" class="formlabel">Strength</label>
        <input required style="width: 35px;" type="number" id="base_str" name="base_str" value=10 min=0 max=20>
        <label for="base_con" class="formlabel">Constitution</label>
        <input required style="width: 35px;" type="number" id="base_con" name="base_con" value=10 min=0 max=20>
        <label for="base_dex" class="formlabel">Dexterity</label>
        <input required style="width: 35px;" type="number" id="base_dex" name="base_dex" value=10 min=0 max=20>
        <label for="base_int" class="formlabel">Intelligence</label>
        <input required style="width: 35px;" type="number" id="base_int" name="base_int" value=10 min=0 max=20>
        <label for="base_wis" class="formlabel">Wisdom</label>
        <input required style="width: 35px;" type="number" id="base_wis" name="base_wis" value=10 min=0 max=20>
        <label for="base_cha" class="formlabel">Charisma</label>
        <input required style="width: 35px;" type="number" id="base_cha" name="base_cha" value=10 min=0 max=20>

        <span id="proficiencylist"></span>

        <input type="hidden" id="all_skills" name="skills">

        <input type="submit" value="Create">

      </form>

  </body>
</html>
