<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% var link = `/character/${character.character_id}/edit`;
       var strmod = Math.floor((parseInt(stats.str) - 10) / 2);
       var dexmod = Math.floor((parseInt(stats.dex) - 10) / 2);
       var conmod = Math.floor((parseInt(stats.con) - 10) / 2);
       var intmod = Math.floor((parseInt(stats.int) - 10) / 2);
       var wismod = Math.floor((parseInt(stats.wis) - 10) / 2);
       var chamod = Math.floor((parseInt(stats.cha) - 10) / 2);
       var ststr = (savingthrows.some(e => e.stat === "Strength"))? strmod + stats.proficiency_bonus : strmod;
       var stdex = (savingthrows.some(e => e.stat === "Dexterity"))? dexmod + stats.proficiency_bonus : dexmod;
       var stcon = (savingthrows.some(e => e.stat === "Constitution"))? conmod + stats.proficiency_bonus : conmod;
       var stint = (savingthrows.some(e => e.stat === "Intelligence"))? intmod + stats.proficiency_bonus : intmod;
       var stwis = (savingthrows.some(e => e.stat === "Wisdom"))? wismod + stats.proficiency_bonus : wismod;
       var stcha = (savingthrows.some(e => e.stat === "Charisma"))? chamod + stats.proficiency_bonus : chamod; %>
    <h1><%= title %> <a href=<%= link %>>(edit)</a></h1>
    <p><b>Race:</b> <%- character.race_name %></p>
    <p><b>Class:</b> <%- character.class_name %></p>
    <p><b>Level:</b> <%- character.level %></p>
    <p><b>Background:</b> <%- character.bg_name %></p>
    <p><b>Alignment:</b> <%- character.alignment %></p>
    <p><b>HP Max:</b> <%- hp_stats.hp_max %></p>
    <p><b>Hit Dice:</b> <%- hp_stats.num_hit_dice %>d<%- hp_stats.hit_dice %></p>

    <h2>Attributes</h2>
    <p><b>Strength:</b> <%- stats.str %> (<%- Math.floor((parseInt(stats.str) - 10) / 2)  %>)</p>
    <p><b>Dexterity:</b> <%- stats.dex %> (<%- Math.floor((parseInt(stats.dex) - 10) / 2)  %>)</p>
    <p><b>Constitution:</b> <%- stats.con %> (<%- Math.floor((parseInt(stats.con) - 10) / 2)  %>)</p>
    <p><b>Intelligence:</b> <%- stats.int %> (<%- Math.floor((parseInt(stats.int) - 10) / 2)  %>)</p>
    <p><b>Wisdom:</b> <%- stats.wis %> (<%- Math.floor((parseInt(stats.wis) - 10) / 2)  %>)</p>
    <p><b>Charisma:</b> <%- stats.cha %> (<%- Math.floor((parseInt(stats.cha) - 10) / 2)  %>)</p>

    <h2>Saving Throws</h2>
    <p>Strength: <%- ststr %></p>
    <p>Dexterity: <%- stdex %></p>
    <p>Constitution: <%- stcon %></p>
    <p>Intelligence: <%- stint %></p>
    <p>Wisdom: <%- stwis %></p>
    <p>Charisma: <%- stcha %></p>
    <p>TODO (Bold stats w/ proficiencies)</p>
    

    <h2>Skills</h2>
    <p>TODO (query skill proficiencies)</p>
    <p>Example: Athletics skill = stats.str + stats.proficiency_bonus (if proficient in athletics)</p>

    <h2>Other Stats</h2>
    <p><b>Speed:</b> <%- character.speed %></p>
    <p><b>Size:</b> <%- character.size %></p>
    <p><b>Initiative:</b> <%- Math.floor((parseInt(stats.dex) - 10) / 2) %></p>
    
  </body>
</html>
